$color: #cce6ff;

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: $color;
}

/**
 * Footer CSS
 * https://www.muicss.com/docs/v1/example-layouts/landing-page
 */
footer {
  height: 100px;
  background-color: #eee;
  border-top: 1px solid #e0e0e0;
  margin-top: 35px;
  padding-top: 35px;
}


@media screen and (min-width: 768px) {
    .modal-dialog {
        margin: 194px auto;
    }
}
